/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #FBAE17;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

h1, h2 {
    margin: 0.5rem 0;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main p {
    margin: 1rem 0;
    text-align: justify;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header, footer {
        padding: 0.5rem 0;
    }

    main {
        padding: 0.5rem;
    }
}
