/* * {
    font-family: 'Ariel','Times New Roman', Times, serif;
} */

.container {
    width: 100%;
}

p {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #0e0e0e;
}

h1 {
    display: block;
    width: 90%;
    font-size: 61px;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 15vh;
}
 
.main {
    width: 100%;
    height: 100vh;
    background-image: url('/static/img/header_background_hiver.png');
    opacity: 0.9;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8); /* Adding a dark tint */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.logo {
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.main button {
    display: block;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin: 45vh auto 0;
    width: 100%;
    height: 80px;
    font-size: 2em;
}

button:hover {
    background-color: white;
    color: black;
}

.main p {
    width: 90%;
    background-color: transparent;
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 5vh auto;
    letter-spacing: 0.05em;
}

.social {
    width: 10%;
    padding: 5vh 0 0 2vh;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sign-up {
    display: block;
    width: 25%;
    height: 40px;
    padding: 10px;
    margin: 50px auto;
    color: black;
    font-size: 2em;
    text-align: center;
    text-decoration: none;     
    background-color: white;
    border-radius: 10px;
    scroll-behavior: smooth;
}


h2 {
    display: block;
    width: 90%;
    font-size: 6em;
    color: #feb3fe;
    text-align: center;
    margin: 0 auto;
    padding-top: 5vh;
}

.blurry {
    backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

form input {
    display: block;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    font-size: 3em;
    background: transparent;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

button {
    display: block;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 80%;
    height: 80px;
    font-size: 2em;
    margin: 0 auto;
}

.join-the-waitlist {
    height: 100vh;
    background-image: url('/static/img/PIE_SMASH.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-the-waitlist button {
    margin: 30vh auto 0;
}

.join-the-waitlist img {
    position: inherit;
    display: block;
    margin: 10vh auto 0;
    opacity: 0.7;
    width: 300px;
}

.main button {
    margin: 45vh auto 0;
}

.about-video {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.image {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.center {
    display: block;
    margin: 0 auto;
}

h3 {
    font-size: 3em;
    text-align: center;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.mission-statement .logo {
    position: inherit;
    width: 200px;
}

.mission-statement p {
    line-height: 1.4em;
    padding-bottom: 10vh;
    max-width: 600px;
}
















@media (min-width: 1000px) {
    .logo {
        width: 100px;
    }

    h1 {
        font-size: 50px;
        padding-top: 20vh;
        width: 50%;
    }

    h2 {
        font-size: 4em;
        padding-top: 10vh;
    }

    .main {
        height: 100vh;
    }

    .main p {
        font-size: 1.3em;
        width: 50%;
        margin: 0 auto;
    }

    .main button {
        margin: 30px auto 0;
        height: 50px;
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }

    .social {
        width: 20px;
    }


    .sign-up {
        width: 15%;
        height: 20px;
        padding: 5px;
        font-size: 1em;
    }

    .about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    .about-video {
        height: 90vh;
        margin: 0;
        padding-left: 20vh;
        z-index: 10;
    }

    .about-hiver {
        padding-top: 5vh;
        border-top: 1px solid white;
        border-right: 1px solid white;
        margin: 5vh 10vh 0 0;
        height: 80vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: -1;
    }

    .clear-both {
        clear: both;
    }


    .our-story {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    

    .our-vision {
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    #our-story {
        width: 150px;
    }

    #our-story2 {
        width: 200px;
    }

    #our-vision {
        width: 200px;
    }

    #our-vision2 {
        width: 300px;
    }

    .our {
        clear: both;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-right: 100px;
    }


    .join-the-waitlist {
        height: 100vh;
        background-image: url('/static/img/PIE_SMASH.png');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .join-the-waitlist button {
        margin: 30vh auto 0;
    }
    


    form {
        width: 100%;
        align-items: center;
    }
    
    form input {
        display: block;
        width: 80%;
        height: 50px;
        font-size: 1em;
        background: transparent;
        color: white;
    }

    .blurry {
        margin: 10%;
    }
    .join-the-waitlist button {
        margin: 0;
        font-size: 1em;
        width: 60%;
        height: 50px;
        margin-top: 5vh;
    }

    h3{
        font-size: 2em;
        opacity: 0.7;
    }

    .left {
        width: 40%;
    }
    .right {
        width: 40%;
    }


    .join-the-waitlist .logo {
        position: inherit;
        width: 300px;

    }

    p {
        width: 70%;
        line-height: 1.3em;
        font-size: 1em;
    }


    .mission-statement {
        display: flex;
        flex-direction: column;
        height: 80vh;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    .mission-statement .logo {
        position: inherit;
        width: 200px;
    }
    
    .mission-statement p {
        line-height: 1.4em;
        font-size: 1.2em;
        padding-bottom: 10vh;
        max-width: 600px;
    }

    .image {
        margin: 5px;
    }



}
